header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #6200ee;
    padding: 20px;
  }
  
  .logo img {
    height: 60px;
  }
  
  nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  nav ul li {
    margin-left: 20px;
    font-size: 18px;
  }
  
  nav ul li:first-child {
    margin-left: 0;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
    transition: all 0.2s ease-in-out;
  }
  
  nav ul li a:hover {
    background-color: #fff;
    color: #6200ee;
  }
  
  nav ul li a.active {
    background-color: #fff;
    color: #6200ee;
  }
  