.home {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f1e9e5;
}

.home .container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  max-width: 1200px; 
  margin: 0 auto;
}

.home .heading {
  margin-bottom: 1.5rem;
  font-size: 3rem;
  font-weight: 700;
  color: #9c786c;
  text-align: center;
}

.home .search-bar-container {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  background-color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
  width: 100%;
  max-width: 1100px;
  gap: 10px; /* Added gap property for space between elements */
}

.home .search-icon {
  font-size: 1.25rem;
  color: #9c786c;
  margin-right: 0.5rem;
}

.home .search-bar {
  font-size: 1.25rem;
  border: none;
  outline: none;
  flex-grow: 1;
  margin-right: 1rem;
  margin-top: 0.5rem;
}

.time-select,
.serving-select {
  background-color: #ffffff; /* Replace with your desired background color */
  color: #9c786c; /* Replace with your desired text color */
  border: none; /* Replace with your desired border color */
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}

.with-image-label {
  display: flex;
  align-items: center;
  gap: 0.5rem; /* Adjust this value to increase/decrease the space between the checkbox and the label text */
  color: #9c786c; /* Replace with your desired text color */
  font-size: 1rem;
  cursor: pointer;
}

.with-image-checkbox {
  cursor: pointer;
}

.home .category-select {
  font-size: 1.25rem;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  outline: none;
  cursor: pointer;
}

.home .category-select:focus {
  outline: none;
}

.home .recipe-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px; /* Add space between recipe cards */
}

.footer {
  background-color: #9c786c;
  color: #f1e9e5;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  flex-wrap: wrap;
  width: 100%;
  box-shadow: 0 -2px 10px 0 rgba(0, 0, 0, 0.2); 
}

.footer .logo-info {
  display: flex;
  align-items: center;
}

.footer .logo-info img {
  width: 40px; 
  height: 40px; 
  margin-left: 65px;
}

.footer p {

  font-size: 0.8rem;
  font-weight: 500;
  margin-left: 600px;
}

.footer .social-icons {
  display: flex;
  justify-content: center;
  margin-right: 55px;
}

.footer .social-icons a {
  margin: 0 0.4rem;
  color: #f1e9e5;
  font-size: 1.2rem;
}

.footer .footer-links {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-left: 50px;
}

.footer .footer-links a {
  color: #f1e9e5;
  text-decoration: none;
  font-weight: 500; /* Material design uses medium weight fonts */
}

.home .recipe-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px; 
}

.home .recipe-list .recipe-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.recipe-detail {
  max-width: 900px;
  margin: 3.5rem auto;
  padding: 8rem;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.recipe-detail h2 {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 700;
  color: #9c786c;
}

.recipe-detail img {
  width: 100%;
  max-width: 550px;
  height: auto;
  display: block;
  margin: 0 auto 1rem;
  border-radius: 5px;
}

.recipe-detail p {
  font-size: 1.25rem;
  line-height: 1.6;
  color: #9c786c;
}

.recipe-detail ul,
.recipe-detail ol {
  font-size: 1.25rem;
  color: #9c786c;
  margin: 1rem 0;
  padding-left: 1.5rem;
}

.recipe-detail h3 {
  font-size: 2rem;
  font-weight: 700;
  color: #9c786c;
  margin-bottom: 2rem;
}

.recipe-detail .back-button {
  background-color: #9c786c;
  color: #f1e9e5;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
  width: 80px;
  gap: 0.5rem;
}

.recipe-detail .back-button:hover {
  background-color: #b39997;
}

.recipe-link {
  text-decoration: none;
  color: inherit;
}

.formatted-text {
  white-space: pre-wrap;
}
