/* .recipe-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2rem;
  padding: 1rem;
}

.recipe-card {
  background-color: #f5f5f5;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.recipe-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 4px;
} */

/* .recipe-title {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.recipe-description {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.recipe-details {
  display: flex;
  justify-content: space-between;
}

.recipe-time,
.recipe-servings {
  font-size: 1rem;
}

.recipe-image {
  width: 50%;
  height: auto;
  max-width: 300px;
  object-fit: cover;
  border-radius: 4px;
} */

.recipe-card {
  background-color: #ffffff;
  padding: 1.5rem;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 350px; /* Adjust the width as needed */
  height: auto;
}

.recipe-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.recipe-title {
  font-size: 1.5rem;
  color: #9c786c;
  margin: 10px;
}

.recipe-details {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.recipe-time {
  font-size: 1rem;
  color: #9c786c;
  margin-right: 70px;
}

.recipe-servings {
  font-size: 1rem;
  color: #9c786c;
  margin-left: 70px;
}

.recipe-buttons {
  margin-top: 1rem;
}

.recipe-buttons button {
  background-color: #9c786c;
  color: #f1e9e5;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 0.5rem;
}

.recipe-buttons button:hover {
  background-color: #b39997;
}


