.register-form-container {
  display: flex;
  flex-direction: column;
  min-height: 70vh;
}

.register-form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.register-form-container form input[type="text"],
.register-form-container form input[type="email"],
.register-form-container form input[type="password"] {
  border: none;
  border-radius: 3px;
  padding: 0.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  background-color: #f1e9e5;
  color: #9c786c;
}

.register-form-container form button[type="submit"] {
  background-color: #9c786c;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  text-transform: uppercase;
  width: 100%;
}

.register-form-container form button[type="submit"]:hover {
  background-color: #b09892;
}

body {
  background-color: #f1e9e5;
}

.register-form-container p{
  color: #9c786c;
  justify-content: center;
}

h2{
  font-size: 30px;
  font-weight: 800;
  margin-top: 2.5rem;
}